@import "./variables";

* {
    margin: 0;
    padding: 0;
    font-family: $fontFamily;
}

.App {
    background-color: $white;
    width: 100vw;
    height: 100vh;
}

h1 {
    @include text($primaryColor, $headerText, $bold);
}

h2 {
    @include text($secondaryColor, $subHeaderText, $normal);
}

p {
    @include text($black, $paragraphText, $normal);
}